<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category list</title>
</head>
<body>
<h1>List Category</h1>
<a href="/create-category">Create new category</a>
<br>
<table border="1px solid black">
    <tr>
        <th>Name</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
<th:block th:each="category : ${categories}">
    <tr>
        <td th:text="${category.name}" style="font-weight: bold"></td>
        <td> <a th:href="@{/view-category/__${category.getId()}__}"/>View</td>
        <td> <a th:href="@{/edit-category/__${category.getId()}__}"/>Edit</td>
        <td> <a th:href="@{/delete-category/__${category.getId()}__}"/>Delete</td>
    </tr>
</th:block>
</table>
</body>
</html>