<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View blog</title>
</head>
<body>
<h1>View blog</h1>
<p>
    <a href="/home">Blog list</a>
</p>
<input th:type="hidden" name="id" th:field="*{id}">
<table>
    <tr>
        <td>Title:</td>
        <td th:text="${blog.title}"></td>
    </tr>
    <tr>
        <td>Last name:</td>
        <td th:text="*{blog.content}"></td>
    </tr>
    <tr>
        <td>Author:</td>
        <td th:text="${blog.author}"></td>
    </tr>
    <tr>
        <td>Date</td>
        <td th:text="${blog.date}"></td>
    </tr>
    <tr>
        <td>Category:</td>
        <td th:text="${blog.category.name}"></td>
    </tr>
</table>

</body>
</html>